<form method="get" action="/">
  <label >Player1 name</label>
  <input type="text" name="player1" value="" placeholder="Player1"/><br>
  <label >Player2 name</label>
  <input type="text" name="player2" value="" placeholder="Player2"/><br>
  <input type="submit" value="Submit">
</form>

